@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('http://fonts.cdnfonts.com/css/yaldevi-colombo');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

section {
    height: 100vh;
    display: flex;
    
    
    color: white;
    scroll-snap-align: start;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:hover{
    color:white;
    text-decoration: none;
}

a:active{
    color:white;
    text-decoration: none;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}


.one{
    background: rgb(255, 255, 255);
    color: black;
    background-image: url(Image/background.png);
    background-size: cover;
}
    .aboutme{
        position:absolute;
        right: 71%;
        top: 20%;


        background-color: black;
        border: none;
        color: white;
        text-align:center;
        padding: 12px 24px;
        display: inline-block;
    }
    .chat{
        position:absolute;
        right: 64%;
        top: 20%;


        background-color: black;
        border: none;
        color: white;
        text-align:center;
        padding: 12px 24px;
        display: inline-block;
    }
    .be{
        position: relative;
        width: 95%;
        height: 90%;
        right: 5%;
        top: 5%;
        

        font-family: Vogue;
        font-style: normal;
        font-weight: normal;
        text-align: right;
        font-size: 25vmin;
        line-height: 260px;
        color: #000000;
        
        text-rendering: geometricPrecision;

    }
    .aikon{
        position: absolute;
        width: 100%;
        height: 100%;
        right:0;
        top: 27%;


        font-family: Staatliches;
        font-style: normal;
        font-weight: normal;
        font-size: 40vmin;
        line-height: 500px;
        text-align: right;
        text-decoration-line: underline;

        color: #000000;
        
        text-rendering:optimizeLegibility;
        
    }
    .an{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        top: 15%;

        

        font-family: 'Yaldevi Colombo Light', sans-serif;
        font-style: normal;
        font-weight: 300;
        text-align: right;
        font-size: 10vmax;
        
        text-rendering: geometricPrecision;
    }
    .name{
        position: absolute;
        width: 100%;
        height: 100%;
        right:0;
        top: 70%;

        font-size: 4vmax;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    
.two{
    background: wheat;
}

.three{
    background: salmon;
}

.four{
    background:seagreen;
}